@model WebApplication.Models.Driver

@{
    ViewData["Title"] = "Profile";
}


<h1>@ViewData["Title"]</h1>

<script>
    function SelectDriverType() {
        var selec = document.getElementById("DriverTypeId");
        var dis = selec.options[selec.selectedIndex].text;
        document.getElementById("mytext").value = dis;
    }

    function SelectGender() {
        document.getElementsByName('radio1')
            .forEach(radio => {
                if (radio.checked) {
                    document.getElementById("inGender").value = radio.value;
                }
            });
    }</script>
<link href="~/TaxiClubStyles/TaxiClubStyleSheet.css" rel="stylesheet" />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/images/car2.png"
                                 alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center"> @Html.DisplayFor(model => model.VehicleName)</h3>
                        <p class="text-muted text-center">Vehicle @Model.VehicleID </p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Trips Completed</b> <a class="float-right">204</a>
                            </li>
                            <li class="list-group-item">
                                <b>Amount Due</b> <a class="float-right">R543.00</a>
                            </li>
                            <li class="list-group-item">
                                <b>Ratings</b> <a class="float-right">3/10 Stars</a>
                            </li>
                        </ul>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="id" />
                            <input type="submit" style="width:180px" value="UPDATE" class="btn btn-primary" />
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">PASSENGER</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> detail submitted</strong>

                        <p class="text-muted">
                            Documents recieved
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">Johanesburg</p>
                        <hr>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">

                            <li class="nav-item"><a class="nav-link" asp-action="Main">Activity</a></li>
                            <li class="nav-item"><a class="btn btn-primary" asp-action="Add">Add</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="List">List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#update">Reports</a></li>

                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="update">
                                <!-- Post -->
                                <div class="card card-primary" style="height:350px">
                                    <div class="card-header">
                                        <h3 class="card-title">DRIVER #@Model.id</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="background-color:white">
                                        <h3>Do you want to remove The vehicle assigned to Mr @Model.Name @Model.Surname ?</h3>
                                        <link href="~/TaxiClubStyles/TaxiClubStyleSheet.css" rel="stylesheet" />
                                        <form role="form" asp-action="RemoveVehicle">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- select -->
                                                    <dl class="row" style="position:relative; top:30px;">
                                                        <dt class="col-sm-4">
                                                            Vehicle Name
                                                        </dt>
                                                        <dd class="col-sm-10">
                                                            @Html.DisplayFor(model => model.VehicleName)
                                                        </dd>

                                                        <dt class="col-sm-4">
                                                            Vehicle Type
                                                        </dt>
                                                        <dd class="col-sm-10">
                                                            @Html.DisplayFor(model => model.VehicleType)
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <input style="position:relative; top:30px;" type="submit" value="Confirm" asp-route-id="@Model.id" class="btn btn-success" />
                                            <a style="position:relative; top:30px;" asp-action="Vehicle" asp-route-id="@Model.id" class="btn btn-dark">Cancel</a>
                                        </form>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- Post -->
                                <!-- /.post -->
                            </div>

                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>


